@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

.logo img {
  width: 200px;
  height: auto;
  padding: 10px 10px; }

.regCarro {
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .regCarro img:hover {
    transform: skew(-20deg);
    cursor: pointer;
    transition: transform 3s; }

.regCarro a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #5B5959;
  padding: 10px 10px; }
  .regCarro a:hover {
    color: grey;
    font-weight: 600; }

#botonera, #botoneraTitulo {
  background-color: #6610f2;
  opacity: 0.9; }
  #botonera div ul li a:hover, #botoneraTitulo div ul li a:hover {
    background-color: black; }

#botonera div ul li a, #botoneraTitulo div ul li a {
  border-radius: 20px; }

#botoneraTitulo h1 {
  font-family: "Noto Serif", serif;
  color: white;
  font-weight: 600; }

#botoneraDetalles {
  background-color: #FAFAFA;
  opacity: 0.9; }

#botoneraDetalles div ul li a {
  color: grey;
  text-decoration: none; }

#botoneraDetalles div ul li a:hover {
  background-color: #F4F4F4;
  opacity: 0.8;
  color: black;
  font-weight: 600;
  cursor: pointer; }

.detalles p {
  font-size: 1.2em;
  line-height: 1em;
  color: black;
  padding: 5px;
  font-family: "Hind", sans-serif; }

#Importante {
  font-weight: 600;
  color: #6610f2; }

.encabezadoCajagris {
  background-color: gray;
  color: white;
  height: 30px; }

.redesExtras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white; }

.redes img {
  text-decoration: none;
  padding: 10px; }

.redes img:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 1s; }

#formContainer {
  background-color: #E3E3E2;
  opacity: 0.8; }

#productos h1,
#productos h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  padding: 15px 0;
  background-color: black;
  font-family: "Roboto", sans-serif; }

#productos .masVendidos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f2f2f2; }

#productos .masVendidos figure {
  text-align: center;
  padding: 20px 0px; }

#productos .masVendidos figure img:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 1s; }

#productos .masVendidos figure figcaption {
  font-size: 2rem;
  color: black;
  padding: 20px 0;
  background-color: white; }

#productos .masVendidos p.price {
  color: black;
  padding-bottom: 10px;
  background-color: white; }

#productos .masVendidos a.btn {
  width: 200px;
  height: 50px;
  background-color: black;
  font-family: "Hind", sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 50px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }

code {
  font-size: 1em;
  margin-bottom: 1em; }

h1, h2, h3, h4, h5 {
  color: black;
  font-family: "Comfortaa", cursive;
  margin: 5px 0px; }

h1, h2, h3, h4, h5:first-letter {
  text-transform: uppercase; }
