code{
	font-size: 1em;
	margin-bottom: 1em;
}

h1,h2,h3,h4,h5{
	color: black;
	font-family:$fontSecondary;
	margin: 5px 0px;
}
h1,h2,h3,h4,h5:first-letter{
  text-transform: uppercase;
}
p:first-letter{
	text-transform: uppercase;
 	font-size: 1.2em;
 	font-weight: 600;
 	line-height: 1.3em;
	margin-bottom: 2em;
 }